.frase {
  text-align: center;
  &:hover {
    color: #ae79ff;
    cursor: pointer;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  margin-left: 10px;
  .links {
    text-decoration: none;
    color: black;
  }
  .card {
    display: flex;
    border: 1px solid black;
    width: 400px;
    margin-top: 15px;
    padding: 10px;
    .cardImg {
      width: 175px;
      height: fit-content;
    }
    .cardTexto {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
